body {
    font-family: 'PT Serif', serif;
}

.nav-item {
    font-size: 14px;
}

.bg-yellow {
    background-color:#FFC017; 
}

.border-bottom-dark {
    border-bottom :1px solid rgba(41, 41, 41);
}

.text-dark {
    font-size: 30px;
    padding:0;
}

.ab {
    color: rgba(117, 117, 117, 1);
    padding: 3px;
    font-weight: 400;
    font-size: 14px;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.headers {
    text-decoration: none;
    color: #212529;
}

